<div class="show">

<h1>Condition</h1>


<%= @condition.CONDITION %><br>

<h2>Study</h2>
  <% @condition.studies.each do |study| %><br>
    <%= study.BRIEF_TITLE %>
    <br>
    <%= study.BRIEF_SUMMARY %><br><br>
  <% end %>
</div>
