<div class="show">

<h1><%= @condition.CONDITION %></h1>

<h2>Studies</h2>
  <% @condition.studies.each do |study| %>
    <h3>Title:</h3> <%= link_to study.BRIEF_TITLE, study %>
    <h3>Summary:</h3> <%= study.BRIEF_SUMMARY %><br><br>
  <% end %>
</div>
