<h1 class="h1">Users</h1>


<ul>
    <% @users.each do |user| %>
      <tr>
      <li>  <td><%= link_to user.name, user %></td>
        <td><%= button_to 'Delete User', user, method: :delete, data: { confirm: 'Are you sure?' } %></td></i>
      </tr>
    <% end %>
</ul>



<table class="table table-bordered table-striped blood ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %><br>
