
<p>
  <strong>Intervention name:</strong>
  <%= @intervention.INTERVENTION_NAME %>
</p>

<p>
  <strong>Intervention type:</strong>
  <%= @intervention.INTERVENTION_TYPE %>
</p>

<p>
  <strong>Description:</strong>
  <%= @intervention.DESCRIPTION %>
</p>


<%# list of studies  %>
<%# list of investigators %>
<%# list of sponsors %>

<%= link_to 'Back', interventions_path %>
